{% extends "base.html" %}

{% block content %}
    <div class="body-calendar">
        <div class="d-flex justify-content-between align-items-center mt-3 mb-3">
            <a href="{% url 'calendar' prev_year prev_month %}" class="text-decoration-none">
                <i class="fa-solid fa-arrow-left fa-4x text-dark"></i>
            </a>
            <h1 class="fw-bold mx-5">{{ month_name }} {{ year }}</h1> <!-- Usé mb-0 para eliminar margen inferior -->
            <a href="{% url 'calendar' next_year next_month %}" class="text-decoration-none">
                <i class="fa-solid fa-arrow-right fa-4x text-dark"></i> <!-- Cambié el color a text-dark y el tamaño a fa-3x -->
            </a>
        </div>        
        <ul class="ul-calendar">
            {% for day in days_with_events %}
            <a href="{% url 'day_events_view' year month day.day %}" class="text-decoration-none text-dark li-calendar {% if day.is_today %}today{% endif %} {% if day.is_empty %}empty-day border rounded{% else %}border shadow rounded{% endif %}">
                    {% if day.day %}
                        <time datetime="{{ year }}-{{ month|stringformat:'02d' }}-{{ day.day|stringformat:'02d' }}">{{ day.day }}</time>
                        <span>{{ day.event }}</span>
                    {% else %}
                        <span></span>
                    {% endif %}
            </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
