{% extends "base.html" %}
{% block content %}


<!-- <div id="blurredbackground" style="background-image: url('{{ evento.imagen.url }}');"> -->

<div id='dialog_base' style="background-image: url('{{ evento.imagen.url }}');"></div>
<div id='dialog_content'>
    <div class="row justify-content-center mt-5 rounded">
        <img src="{{ evento.imagen.url }}" class="rounded"
        style="width: 30%; object-fit: cover; height: 20rem;" alt="{{ evento.nombre }}">
    </div>
</div>
<div class="container-fluid bg-white">
    <div class="container mt-5" >
        <div class="row">
            <div class="col-md-12 justify-content-center text-center mt-4">
                <h1>{{ evento.nombre}}</h1>
            </div>
            
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 justify-content-center text-center mt-4 border rounded-pill me-4 shadow">
                <h5 class="mt-2"><i class="fa-solid fa-location-dot text-danger"></i>  {{ evento.lugar }}</h5>
            </div>
            <div class="col-md-4 justify-content-center text-center mt-4 border rounded-pill shadow">
                <h5><i class="mt-2 fa-regular fa-calendar-days text-black"></i>  {{ evento.fecha_evento }}</h5>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center text-center mt-3">
            <h2 class="fw-bold">Entradas</h2>
        </div>
        <div class="row">
            {% for entrada in entradas %}
            <div class="col-md-6">
                <div class="card mb-3 border shadow">
                    <div class="row g-0">
                        <div class="col-md-2 d-flex justify-content-center align-items-center" >
                            <i class="fa-solid fa-ticket icon-entrada" style="font-size: 3rem;"></i>
                        </div>
                        <div class="col-md-10 border-start">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h3 class="card-title ">{{ entrada.tipo }}</h3>
                                    </div>
                                    {% if request.user.is_authenticated %}
                                        <div class="col-md-4">
                                            <button class="btn btn-info ms-1 text-white shadow">Comprar</button>
                                        </div>
                                    {%else%}
                                        <div class="col-md-4">
                                            <button data-bs-toggle="modal" data-bs-target="#loginModal" class="btn btn-info text-white shadow">Comprar</button>
                                        </div>
                                    {%endif%}
                                </div>
                                <hr>
                                <div class="row ">
                                    <div class="col-md-8 text-start">
                                        <h4 class="">{{ entrada.precio }}€</h4>
                                    </div>
                                    <div class="col-md-3 text-center rounded-pill border">
                                        <h5 class=""><i class="fa-solid fa-ticket text-black mx-1 mt-2"></i>{{ entrada.cantidad_disponible }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}