{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Iniciar Sesión como Empresa</h2>
    <form method="POST" action="{% url 'login_empresa' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberEmpresaMe">
            <label class="form-check-label" for="rememberEmpresaMe">Recuérdame</label>
        </div>
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
    </form>
</div>
{% endblock %}
