{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row justify-content-center mt-3 align-items-center">
        <div class="col-md-6 col-lg-4">
            <div class="input-group">
                <input class="form-control rounded-pill py-3 shadow" type="search" placeholder="Buscar..."
                    id="example-search-input1">
                <span class="input-group-text bg-transparent border-0 position-absolute end-0 me-3">
                    <i class="fa fa-search mt-3 ml-1"></i>
                </span>
            </div>
        </div>
    </div>

    <hr class="my-3">

    <div class="container-fluid">
        <div class="row">
            {% for evento in eventos %}
            <div class="col-md-6 mb-2">
                <!-- Tarjeta del evento -->
                <div class="card shadow h-100" data-bs-toggle="modal" data-bs-target="#modal-{{ evento.id }}">
                    {% if evento.imagen %}
                    <img src="{{ evento.imagen.url }}" class="img-fluid img-local card-img-top"
                        style="width: 100%; object-fit: cover; height: 20rem;" alt="{{ evento.nombre }}">
                    {% endif %}
                    <h3 class="card-title mt-3 mx-2 fw-bold">{{ evento.nombre }}</h3>
                    <hr class="my-3">
                    <p class="card-text mx-2">{{ evento.descripcion }}</p>
                    <h5 class="mx-2"><i class="fa-solid fa-location-dot ml-5"></i>{{ evento.lugar }}</h5>
                </div>
            </div>

            <!-- Modal del evento -->
            <div class="modal fade" id="modal-{{ evento.id }}" tabindex="-1" aria-labelledby="modalLabel{{ evento.id }}"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="card">
                        {% if evento.imagen %}
                        <img src="{{ evento.imagen.url }}" class="img-fluid rounded shadow" alt="{{ evento.nombre }}">
                        {% endif %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h3 class="fw-bold">{{ evento.nombre }}</h3>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa-regular fa-heart" style="font-size: 2rem; color: red;"></i>
                                </div>
                            </div>
                            <hr>
                            <h5><i class="fa-solid fa-location-dot"></i> {{ evento.lugar }}</h5>
                            <p>{{ evento.descripcion }}</p>

                            <hr class="my-2">
                            <div class="row">
                                <div class="col-md-3 p-1 rounded-pill border text-center bg-success text-white shadow">
                                    <h5 class="mt-2">Disponible</h5>
                                </div>
                                <div class="col-md-4 mx-5 p-1 border rounded shadow text-center">
                                    <h5 class="mt-2">{{ evento.fecha_evento }}</h5>
                                </div>
                                <div class="col-md-3 border rounded-pill p-1 shadow text-center text-white bg-info">
                                    <h5 class="mt-2"><i class="fa-solid fa-ticket"></i>  Comprar</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}