/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

/* Aplicar la fuente a todo el documento */
* {
    font-family: "Poppins", serif; /* Aplicar Poppins a todos los elementos */
}

/* Estilos para el navbar */
.navbar {
    padding: 1rem 2rem; /* Aumenta el espaciado del navbar */
    font-size: 1.2rem;  /* Agranda el texto */
}

.navbar-nav {
    margin-left: auto; /* Empuja los elementos al centro */
    margin-right: auto; /* Centra los elementos */
}

.navbar-brand {
    font-size: 1.5rem; /* Agranda el logo/marca */
}

.navbar-nav .nav-link {
    padding-left: 1.5rem; /* Espaciado entre los enlaces */
    padding-right: 1.5rem;
}

.btn-login {
    margin-left: auto; /* Mueve el botón de inicio de sesión a la derecha */
}

/* Estilos para el botón de inicio de sesión */
.btn-grad {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* Cambiar dirección del cambio aquí */
    color: #fff;
    text-decoration: none;
}

         
.btn-grad-logout {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad-logout:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 


.body-calendar {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: "Poppins", serif;
    background: rgb(238, 174, 202);
    background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
    );
}

.h1 {
    font-weight: 800;
    margin: 1rem 0 0;
}

.ul-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
    padding: 0;
}

.li-calendar {
    display: flex;
    width: 10rem;
    height: 10rem;
    margin: 0.25rem;
    flex-flow: column;
    border-radius: 0.2rem;
    padding: 1rem;
    font-weight: 300;
    font-size: 0.8rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.li-calendar time {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.li-calendar.today time {
    font-weight: 800;
}

.card {
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor:pointer;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Un poco gris */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}


.btn-comprar:hover
{
    cursor: pointer;
}